<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelAddIn.Properties.Settings>
            <setting name="Salt" serializeAs="String">
                <value>36393324-16e2-4eb7-a7ca-9a5c3a303512</value>
            </setting>
        </ExcelAddIn.Properties.Settings>
    </userSettings>
</configuration>